<side-panel class="smk-search-panel" v-bind:class="{ 'smk-busy': busy }">
    <template slot="header">
        <h1>Search</h1>
        <div class="smk-spinner"></div>
    </template>

    <template slot="commands">
        <span class="smk-command"
            v-bind:class="{ 'smk-disabled': isEmpty() }"
            v-on:click="$$emit( 'clear' )"
        >Clear results</span>
    </template>

    <div class="smk-placeholder"
        v-if="isEmpty()"
    >
        Enter search keywords.
    </div>

    <div class="smk-search-result"
        v-if="!isEmpty()"
        v-for="result in results"
        v-on:mouseenter="$$emit( 'hover', { result: result } )"
        v-on:mouseleave="$$emit( 'hover', { result: null } )"
        v-on:click="$$emit( 'pick', { result: result } )"
        v-bind:class="{ 'smk-highlighted': result.id == highlightId }"
    >
        <h2>{{ result.properties.fullAddress }}</h2>
    </div>
</side-panel>