
.smk-search-panel .smk-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-style: italic;
    font-size: 20px;
    padding:5px 10px;
    text-align: center;
}

.smk-search-result {
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.smk-search-result:hover {
    border: 1px solid black;
}

.smk-search-result h2 {
    display: inline-block;
    width: 200px;
    font-size: 13px;
}

.smk-search-result.smk-highlighted h2 {
    font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */

.smk-tool.smk-search-tool {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.smk-tool.smk-search-tool.smk-tool-visible {
    display: flex;
}

.smk-tool.smk-search-tool input {
    border: 0;
    align-self: stretch;
    padding-left: 4px;
    margin: 2px;
    border-radius: 2px;
}

.smk-tool.smk-search-tool input:focus {
    outline: 0;
}
