<side-panel class="smk-identify-panel" v-bind:class="{ 'smk-busy': busy }">
    <template slot="header">
        <h1>Route Planner</h1>
        <div class="smk-spinner"></div>
    </template>

    <template slot="commands">
        <span class="smk-command" v-on:click="$$emit( 'add' )">Add waypoint</span>
        <span class="smk-command" v-bind:class="{ 'smk-disabled': isEmpty() }" v-on:click="$$emit( 'clear' )">Clear</span>
        <!-- <span class="smk-command" v-bind:class="{ 'smk-disabled': isEmpty() }" v-on:click="$$emit( 'add-all' )">Add all to selection</span> -->
    </template>

    <!-- <div v-if="isEmpty()" class="smk-placeholder">
        Click on map to identify features.
    </div> -->

    <div class="smk-waypoint"
        v-for="node in waypoints"
        v-on:mouseenter="$$emit( 'hover', { features: layer.features } )"
        v-on:mouseleave="$$emit( 'hover', { features: null } )">
        <input v-model="node.location" class="smk-waypoint-location">
    </div>

    <div class="smk-direction"
        v-for="direction in directions">
        {{ direction.description }}
    </div>
</side-panel>