.smk-directions-panel .smk-command-col {
    display: inline-block;
}

.smk-directions-panel .smk-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.smk-directions-panel .smk-description {
    width: calc( 100% - 92px );
    height: 24px;
    vertical-align: top;
    margin-top: 2px;
}

.smk-directions-panel .smk-waypoint {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 1px;
}

.smk-directions-panel .smk-waypoint .smk-command {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    color: black;
}

.smk-directions-panel .smk-waypoint .smk-command.smk-disabled {
    opacity: 0.4;
    cursor: default;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-first {
    color: green;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-middle {
    color: blue;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-last {
    color: red;
}

.smk-directions-panel div.smk-message {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: -5px;
    text-align: center;
    min-height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smk-directions-panel .smk-message.smk-error {
    color: red;
}

.smk-directions-panel .smk-message.smk-summary {
}

.smk-directions-panel .smk-message.smk-progress {
    color: blue;
}

.smk-directions-panel .smk-body .smk-directions {
    position: relative;
    flex: 1 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    margin-top: 5px;
}

.smk-direction {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: stretch;
    align-content: stretch;
    border: 1px solid transparent;
}

.smk-direction .smk-instruction {
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    font-size: 13px;
    flex-basis: 66%;
}

.smk-direction .smk-metric {
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    font-size: 11px;
    flex: 1 0 33%;
    align-self: flex-end;
}

.smk-direction.smk-highlight {
    background-color: lightblue;
}

.smk-direction.smk-pick {
    border: 1px solid blue;
    border-radius: 3px;
}

pre.smk-popup {
    font-family: sans-serif;
}