.smk-map-frame .smk-viewer .leaflet-top {
    top: 40px;
}

.smk-toolbar  {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;

    z-index: 1;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    pointer-events: auto;
    user-select: none;
}

.smk-tool {
    display: none;
    opacity: 0.5;
}

.smk-tool.smk-tool-visible {
    display: inline-block;
}

.smk-tool.smk-tool-enabled {
    opacity: 1.0;
    /* pointer-events: none; */
}

.smk-tool.smk-tool-active {
}

