#wait {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
    /* text-align: center; */
    font-size: 40px;
}

#test-settings {
    z-index: 10;
    position: absolute;
    top: 3px;
    right: 3px;
    /* border: 2px solid white; */
    /* border-radius: 3px; */
    /* color: white; */
    /* background-color: black; */
    /* padding: 2px; */
    padding: 0;
    font-size: 8px;
    /* min-width: 300px; */
}

#config {
    width: 400px;
}

#tools {
    display: none;
}

#test-settings [type=button] {
    float: right;
}
