<side-panel class="smk-menu-panel">
    <h1 slot="header">{{ title }}
        <component class="smk-tool"
            v-for="tool in subWidgets"
            v-bind:class="{ 'smk-tool-active': tool.widget.active, 'smk-tool-visible': tool.widget.visible, 'smk-tool-enabled': tool.widget.enabled }"
            :key="tool.id"
            v-bind:is="tool.widgetComponent"
            v-bind="tool.widget"
        ></component>
    </h1>

    <component class="smk-panel"
        v-if="activeToolId && subPanels[ activeToolId ]"
        v-bind:is="subPanels[ activeToolId ].panelComponent"
        v-bind="subPanels[ activeToolId ].panel"
    ></component>

</side-panel>