<div class="smk-feature-popup" v-if="layer">
    <div class="smk-header">
        <span class="smk-title">
            <h3>{{ layer.title }}</h2>
            <h2>{{ feature.title }}</h2>            
        </span>

        <span class="smk-navigator"
            v-if="hasMultiple"
        >
            <i class="material-icons smk-move smk-command"
                v-on:click="movePrevious()"
            >navigate_before</i>
            
            <span class="smk-position"
            >{{ position }}</span>

            <i class="material-icons smk-move smk-command"
                v-on:click="moveNext()"
            >navigate_next</i>
        </span>        
    </div>

    <div class="smk-description"
        v-if="feature.properties.description"
        v-html="feature.properties.description"
    ></div>

    <div class="smk-attributes"
        v-if="!feature.properties.description"
    >
        <div class="smk-attribute"
            v-for="attr in layer.attributes"
            v-if="layer.attributes && attr.visible !== false"
        >
            <span class="smk-title">{{ attr.title }}</span>
            <span class="smk-value">{{ feature.properties[ attr.name ] }}</span>
        </div>

        <div class="smk-attribute"
            v-for="(val, attr) in feature.properties"
            v-if="!layer.attributes || layer.attributes.length == 0"
        >
            <span class="smk-title">{{ attr }}</span>
            <span class="smk-value">{{ val }}</span>
        </div>
    </div>

    <div class="smk-commands">
        <span class="smk-command"
            v-if="tool.zoom"
            v-on:click="zoomToFeature( layer.id, feature.id )"
        >Zoom to</span>

        <span class="smk-command"
            v-if="tool.select"
            v-on:click="selectFeature( layer.id, feature.id )"
        >Add to selection</span>
    </div>
</div>