.smk-feature-popup .smk-header {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.smk-feature-popup h2 {
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: -10px;
    display: inline;
}

.smk-feature-popup h3 {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    margin-left: -10px;
}

.smk-feature-popup .smk-attributes {
    width: 100%;
}

.smk-feature-popup .smk-attribute:nth-child( 2n ) {
    background-color: #ddd;
}

.smk-feature-popup .smk-attribute:nth-child( 2n + 1 ) {
    padding-top: 2px;
    padding-bottom: 2px;
}

.smk-feature-popup .smk-attribute .smk-title {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    font-size: 11px;
    padding-left: 5px;
}

.smk-feature-popup .smk-attribute .smk-value {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    padding-left: 10px;
}

.smk-feature-popup .smk-commands {
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 5px;
}

.smk-feature-popup .smk-command {
    margin-right: 10px;
}

