body {
    font-family: 'Avenir Next W00','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.smk-map-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#smk-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

#smk-header-logo {
    width: 167px;
    height: 64px;
    background-image:       url( '../images/bc_gov_logo_transparent.png' );
    background-position:    6px 6px;
    background-repeat:      no-repeat;
}

#smk-header-title {
    position:       absolute;
    top:            18px;
    margin-left:    180px;
    font-size:      30px;
}

.smk-viewer {
    top: 70px;
}

.smk-sidebar {
    top: 75px;
}

