.smk-tool button {
    background-color: white;
    border: 1px solid transparent;
    padding: 0;
    margin: 2px;
    width: 26px;
    height: 26px;
    border-radius: 3px;
}

.smk-tool button:hover {
    border: 1px solid black;
}

.smk-tool button:focus {
}

.smk-tool.smk-tool-active button:focus, .smk-tool.smk-tool-active button {
    background-color: palegreen;
}
