.smk-map-frame .smk-viewer .leaflet-bottom.leaflet-right .leaflet-control.leaflet-control-better-scale {
    margin-bottom: 10px;
}

.smk-map-frame .smk-viewer .leaflet-bottom.leaflet-right .leaflet-control.leaflet-control-scalefactor {
    border: 0;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    height: 14px;
    top: -1px;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    text-align: right;
    padding: 0;
    background-color: transparent;
    cursor: default;
}