.smk-layers-panel .smk-header .smk-commands {
    height: 28px;

    display: flex;
    align-items: center;
}

.smk-layers-panel .smk-header .smk-commands label {
    white-space: nowrap;
}

.smk-layers-panel input.smk-filter {
    margin-bottom: 0;
    border: 0;
    font-size: 15px;
    padding: 3px;
    background-color: white;
    vertical-align: top;
    flex-basis: 100%;
}

.smk-layers-panel input.smk-filter:focus {
    outline: 0;
}

.smk-layers-panel .smk-all-visibility {
    padding: 0;
}

.smk-layers-panel .smk-all-visibility.smk-some-visible {
    opacity: .5;
}

/* .smk-layers-panel .smk-all-collapse {
    position: absolute;
    top: 20px;
    right: 0px;
    cursor: pointer;
}

.smk-layers-panel .smk-all-expand {
    position: absolute;
    top: 30px;
    right: 0px;
    cursor: pointer;
} */

.smk-layers-panel .smk-item {
    font-size: 14px;
}

.smk-layers-panel .smk-folder {
    padding-left: 10px;
}

.smk-layers-panel .smk-body > .smk-folder {
    /* padding-left: 0; */
}

.smk-layers-panel .smk-layer-title {
    display: flex;
    align-items: center;
    position: relative;
}

.smk-layers-panel .smk-layer-title .smk-folder-expand {
    position: absolute;
    left: -20px;
}

.smk-layers-panel .smk-layer-title .smk-folder-visibility {
    /* opacity: .5; */
    padding: 0;
    align-self: flex-start;
}

/* .smk-layers-panel .smk-item.smk-layer-visible .smk-layer-title .smk-folder-visibility {
    opacity: 1;
} */

.smk-layers-panel .smk-layer-title .smk-folder-visibility.smk-some-visible {
    opacity: .5;
}

.smk-layers-panel .smk-layer-title .smk-layer-visibility {
    padding: 0;
    align-self: flex-start;
}

.smk-layers-panel .smk-layer-title span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.smk-layers-panel .smk-layer-title span.smk-sub-layer {
    font-style: italic;
}

.smk-layers-panel .smk-folder-expand {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    cursor: pointer;
}

.smk-layers-panel .smk-layer-info {
    padding-left: 30px;
}

.smk-layers-panel .smk-legend span {
    vertical-align: top;
}

