.smk-base-maps-panel .smk-body {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: stretch;
    align-content: flex-start;    
    flex-wrap: wrap;
    height: 100%;
}

.smk-base-map-sample {
    border-radius: 5px;
}

.smk-base-map {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
    flex-basis: 45%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    align-content: center;    
}

.smk-base-map:hover {
    border: 1px solid black;
}


