body {
    font-family: 'Avenir Next W00','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.smk-map-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#smk-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px
}

#smk-header-logo {
    display: inline-block;
    width: 180px;
    height: 64px;
    background-position:    6px 6px;
    background-repeat:      no-repeat;
    background-size:        auto 58px;
}

.default-header-image {
    background-image:       url( 'bc_gov_logo_transparent.png' );
}

#smk-header-title {
    margin-left:    20px;
    font-size:      30px;
    line-height: 64px;
    vertical-align: bottom;
    margin-left: 20px;
}

.smk-viewer {
    top: 70px;
}

.smk-sidebar {
    top: 75px;
}

