body {
    /* font-family: 'Avenir Next W00','Helvetica Neue',Helvetica,Arial,sans-serif; */
    font-family: Helvetica,Arial,sans-serif;
}

.smk-map-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#smk-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
	border-bottom: 2px solid #fcba19;
	background-color: #036;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#smk-header-logo {
    width:              180px;
    height:             70px;
    background-repeat:  no-repeat;
    margin-left:        10px;
}

#smk-header-logo.smk-default-header-image {
    width:                  155px;
    height:                 52px;
    background-image:       url( 'bc_gov_logo_transparent.png' );
}

#smk-header-title {
    color:          white;
    margin-left:    20px;

    display:        flex;
    flex-direction: column;
    justify-content:center;
    align-items:    flex-start;
}

#smk-header-maintitle {
    font-size:      30px;
}

#smk-header-subtitle {
    font-size:      15px;
}

.smk-map-frame .smk-viewer {
    top: 72px;
}

.smk-map-frame .smk-overlay {
    top: 77px;
}

