<div class="smk-location-popup" v-if="coordinate.latitude">
    <div class="smk-address" v-if="site.fullAddress">
        <div class="smk-street">
            <span class="smk-civic-number">{{ site.civicNumber }}</span>
            <span class="smk-street-name">{{ site.streetName }}</span>
            <span class="smk-street-type">{{ site.streetType }}</span>
        </div>
        <div class="smk-locality">
            <span class="smk-locality-name">{{ site.localityName }}</span>
            <span class="smk-locality-type" v-if="site.localityType != 'Unknown'">({{ site.localityType }})</span>
        </div>
    </div>

    <div class="smk-coordinate">
        <span class="smk-coordinate-label">lat</span>
        <span class="smk-coordinate-value">{{ formatDD( coordinate.latitude ) }}</span>
        ,
        <span class="smk-coordinate-label">long</span>
        <span class="smk-coordinate-value">{{ formatDD( coordinate.longitude ) }}</span>
    </div>

    <div class="smk-commands">
        <span class="smk-command" v-on:click="identifyFeatures( coordinate )">Identify features</span>
        <span class="smk-command" v-on:click="startMeasurement( coordinate )">Start measurement</span>
        <span class="smk-command" v-on:click="startDirections( coordinate )">Directions to here</span>
    </div>
</div>