.smk-location-popup {
    position: absolute;
    top: 0;
    right: 0;

    padding: 2px;

    z-index: 1;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    pointer-events: auto;
    user-select: none;
}


/* .smk-identify-panel .smk-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-style: italic;
    font-size: 20px;
    padding:5px 10px;
    text-align: center;
}

.smk-identify-layer {
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

.smk-identify-layer:hover {
    border: 1px solid black;
}

.smk-identify-layer h2 {
    display: inline-block;
    width: 200px;
    font-size: 13px;
    font-weight: bold;
}

.smk-identify-layer .smk-identify-feature {
    font-size: 12px;
    padding-left: 20px;
    cursor: pointer;
}

.smk-identify-layer .smk-identify-feature.smk-highlighted {
    font-weight: bold;
}

.smk-identify-layer .smk-identify-feature.smk-highlighted span::before {
    content: '•';
}

.smk-identify-layer .smk-identify-feature span {
    margin-left: -10px;
}

.smk-identify-layer .smk-identify-feature:hover {
    color: blue;
}

.smk-identify-popup .smk-header {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.smk-identify-popup h2 {
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 18px;
    margin-left: -10px;
    display: inline;
}

.smk-identify-popup h3 {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    margin-left: -10px;
}

.smk-identify-popup .smk-attributes {
    width: 100%;
}

.smk-identify-popup .smk-attribute:nth-child( 2n ) {
    background-color: #ddd;
}

.smk-identify-popup .smk-attribute:nth-child( 2n + 1 ) {
    padding-top: 2px;
    padding-bottom: 2px;
}

.smk-identify-popup .smk-attribute-title {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    font-size: 11px;
    padding-left: 5px;
}

.smk-identify-popup .smk-attribute-value {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    padding-left: 10px;
}

.smk-identify-popup .smk-commands {
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 5px;
}

.smk-identify-popup .smk-command {
    margin-right: 10px;
}
 */
