
.smk-base-map-sample {
    width: 100%;
    height: 80px;
}

.smk-base-map {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.smk-base-map:hover {
    border: 1px solid black;
}


