<feature-list-panel class="smk-query-panel"
    v-bind="featureListProps()"
>
    <template slot="header">
        <h1 v-if="title">{{ title }}</h1>
        <div class="smk-description">{{ description }}</div>
    </template>

    <template slot="commands">
        <div class="smk-parameters">
            <component class="smk-parameter"
                v-for="( parameter, i ) in parameters"
                v-bind:key="parameter.id"
                v-bind:is="parameter.component"
                v-bind="parameter.prop"
                v-on:input="$$emit( 'parameter-input', { index: i, value: $event.value } )"
            ></component>
        </div>
    </template>

    <template slot="command-row" slot-scope="list">
        <div class="smk-command-row">
            <label class="smk-command"
                v-bind:class="{ 'smk-disabled': busy || within == null }"
            ><input type="checkbox"
                v-bind:disabled="within == null || busy"
                v-model="within"
                v-on:change="$$emit( 'config', getConfigState() )"
            >Within current extent</label><br/>
        </div>
        <div class="smk-command-row">
            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': list.isEmpty && !isModified || busy}"
                v-on:click="( !list.isEmpty || isModified ) && !busy && $$emit( 'reset' )"
            >Reset</span>

            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': !isReady || busy }"
                v-on:click="isReady && !busy && $$emit( 'execute' )"
            >Search</span>

            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': list.isEmpty || busy }"
                v-on:click="!list.isEmpty && !busy && $$emit( 'add-all' )"
            >Add all to selection</span>
        </div>
    </template>

    <template slot="placeholder">
        Configure parameters and click Execute.
    </template>

</feature-list-panel>